*,
::before,
::after{
    margin: 0;
    padding: 0;
    --border: 5px;
    --light-blue: #00c6fb;
    --dark-blue: #005bea;
    --block-width: 964px;
}
@font-face{
    font-family: "Cera Pro";
    src: url("fonts/CeraPro-Regular.woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
.header-top{
    width: var(--block-width);
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.menu-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
}
.menu-list a{
    text-decoration: none;
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}
.menu-list a:hover{
    border-bottom: 1px solid #000;
}
.header-top__button{
    width: 226px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(#fff, #fff) padding-box, 
    linear-gradient(to right, var(--light-blue), var(--dark-blue)) border-box;
    border:  1px solid transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top__button a{
    text-decoration: none;
    background: linear-gradient(to right, var(--light-blue), var(--dark-blue));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 11px;
}
.header-top__button:hover{
    opacity: 0.4;
}
.online-loans{   
    background-image: url("images/main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.online-loans-centered{
    width: var(--block-width);
}
.online-loans__container{
    display: flex;
    flex-direction: row;
}
.online-loans__title{
    padding-top: 92px;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 42px;
    text-transform: uppercase;
    color: #3E3E3E;
}
.online-loans__percent{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 145px;
    margin: 70px 0 0 26px;
    background: linear-gradient(90deg, #00C6FB 0%, #005BEA 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}
.online-loans-two__title{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #3E3E3E;
    margin-top: -65px;
    margin-left: 102px;
}
.online-loans__text{
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #3E3E3E;
    margin-top: 20px;
}
.online-loans__application__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
    margin-top: 15px;
    position: relative;
}
.online-loans__block{
    display: flex;
    flex-direction: row;
    gap: 3em;
    position: absolute;
    top: 105px;
    width: var(--block-width);
    height: 119px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    border-radius: 25px;
    padding-left: 23px;
}
.online-loans__block__container{
    display: flex;
    flex-direction: row;
    gap: 10em;
    margin-top: 22px;
}
.online-loans__block__summa{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #3E3E3E;
}
.online-loans__block__price{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.online-loans__block__date__price{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.range-slider input,
.range-slider__date input{
    width: 273px;
    height: 2px;
    background: #A2A2A2;
    border-radius: 1px;
    margin-top: 9px;
    position: relative;
} 
.range-slider__date{
    position: relative;;
}
.range-slider__circle{
    position: absolute;
    top: 49px; 
    left: 132px;
    width: 16px;
    height: 16px;
    background: #4268FF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.range-slider__circle__date{
    position: absolute;
    top: 0;
    left: 110px;
    width: 16px;
    height: 16px;
    background: #4268FF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
::-moz-range-progress{
    background: #000000;
}
input[type=range]{
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #000000;
}
.online-loans__order{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.online-loans__order__button button{
    width: 262px;
    height: 50px;
    background: linear-gradient(90deg, #00C6FB 0%, #005BEA 100%);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 22px;
}
.online-loans__order__text{
    margin-top: 11px;
}
.online-loans__block__number__container{
    display: flex;
    flex-direction: row;
    gap: 19.5em;
    margin-top: 11px;
}
.online-loans__block__time__container{
    display: flex;
    gap: 12.5em;
    margin-top: 22px;
}
.online-loans__block__date__container{
    display: flex;
    gap: 17.6em;
    margin-top: 11px;
}
.online-loans__block__number__left,
.online-loans__block__number__right{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #828282;
}
.service{
    background-image: url("images/service-bg.png");
    background-repeat: no-repeat;
    height: 791px;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-left: 10em;
}
.service-centered{
    width: 1120px;
}
.service__title{
    padding-top: 140px;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
    color: #3E3E3E;
}
.service-block{
    display: flex;
    flex-direction: row;
    margin-top: 75px;
} 
.service-block__one,
.service-block__two,
.service-block__three,
.service-block__four{
    width: 308px;
    height: 365px;
    background: #FBFBFB;
    box-shadow: -2.17893px -2.17893px 6.5368px #F3F3F3, 2.17893px 2.17893px 6.5368px rgba(174, 174, 192, 0.4);
    border-radius: 25px;
    position: relative;
}
.service-block__number__img img{
    position: absolute;
    top: -50px;
    left: 136px;
    z-index: 100;
 }
.service-block__two__number__img{
    position: absolute;
    left: 134px;
    top: -40px;
    z-index: 100;
}
.service-block__three__number__img{
    position: absolute;
    left: 136px;
    top: -40px;
}
.service-block__four__number__img{
    position: absolute;
    left: 136px;
    top: -40px;
}
.service-block__one__img,
.service-block__two__img,
.service-block__three__img,
.service-block__four__img{
    padding: 40px 0 0 40px;
}
.service-block__one__text,
.service-block__two__text,
.service-block__three__text,
.service-block__four__text{
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding: 15px 0 0 40px;
}
.service-block__info{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #3E3E3E;
    padding: 10px 0 0 40px;
}
.service-arrows{
    display: flex;
    align-items: center;
    gap: 45px; 
    margin-top: 40px;
    cursor: pointer;
}
.service-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 966px;
}
.service-button button{
    width: 308px;
    height: 60px;
    background: linear-gradient(90deg, #00C6FB 0%, #005BEA 100%);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 40px;
}
.swiper{
    width: 100%;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger{
    display: none;
}
.line{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #000000;
    transition: 0.5s;
}
@media(max-width: 1020px){
    .online-loans__block{
        width: 315px;
        height: 310px;
        display: flex;
        flex-direction: column;
        gap: 0;
        top: 0;
    }
    .online-loans{
        height: 663px;
    }
    .online-loans__order{
        margin-left: 0;
    }
    .online-loans__application__text{
        padding-top: 325px;
    }
}
@media(max-width: 965px){
    .header-top{
        justify-content: flex-start;
    }
}
@media(max-width: 610px){
    .online-loans__percent{
        margin: 10px 0 0 10px;
        font-size: 35px;
    }
    .online-loans__title,
    .online-loans-two__title{
        font-size: 23px;
        text-transform: none;
        color: #000000;
    }
    .online-loans__title{
        padding-top: 65px;
    }
    .online-loans-two__title{
        margin-left: 0;
        padding-top: 10px;
    }
    .online-loans{
        margin-left: 30px;
        height: 623px;
    }
    .online-loans__text{
        font-size: 16px;
        line-height: 24px;
    }
}
@media(max-width: 590px){
    .menu-list{
        display: none;
        width: 0px;
        overflow: hidden;
        display: block;
    }
    .burger{
        display: block;
        position: absolute;
        left: 38px;
        top: 28px;
        cursor: pointer;
    }
    .header-top__button{
        display: none;
    }
    .burger-rotated{
        transform: rotate(90deg);
        transition: transform 0.2s ease-in;
    }
    .menu-shown{
        width: 200px;
        height: 150px;
        text-align: center;
        margin-top: 250px;
        margin-left: 30px;
        -webkit-transition: width 0.5s ease-in-out;
        -moz-transition: width 0.5s ease-in-out;
        -o-transition: width 0.5s ease-in-out;
        transition: width 0.5s ease-in-out;
        background: #e9e9e9;
        backdrop-filter: blur(8px); 
        border-radius: 5px;
    }
    .menu-shown a:hover{
        border-bottom: 1px solid #000000;
    }
    .menu-shown li{
        white-space: nowrap;
        margin-top: 1em;
        transition: 0.5s;
    }
}